[submodule "themes/hugo-ink"]
	path = themes/ink-free
	url = https://github.com/chollinger93/ink-free
	branch = master

[submodule "themes/hugo-admonitions"]
	path = themes/hugo-admonitions
	url = https://github.com/KKKZOZ/hugo-admonitions
	branch = main
